////////// LANDING ////////////

.Landing {
  background-color: #F3F4F6;
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.sideBarsAndCanvas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
  margin-top: 50px
}

////////// NavBar ////////////


////////// LeftSideBar ////////////
.LeftSideBar {
  flex-grow: 1;
  border: 1px solid black;
  max-width: 30%;
}
////////// MainCanvas////////////
.MainCanvas {
  flex-grow: 3;
  border: 1px solid black;
  margin-left: 200px;
  width: 100%;
}
////////// RightSideBar ////////////
.RightSideBar {
  flex-grow: 1;
  border: 1px solid black;
  margin-left: 200px;
  width: 100%;
}